!!!
%html{:lang => :en}
  %head
    %meta{:charset => "utf-8"}/
    %title Blank Rails
    %meta{:content => "Boost to get started with rails 3.1.1, haml, sass, jquery, devise, twitter-bootstrap, railroady, heroku specific setup, etc...", :name => :description}/
    %meta{:content => "sandipransing", :name => :author}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{:style => "padding-top:60px;"}
    .topbar
      .topbar-inner
        .container-fluid
          %a.brand{:href => root_url} Blank Rails
          %p.pull-right
            - if user_signed_in?
              %a{:href => "#"} 
                = current_user.name
              |
              = link_to "Logout", destroy_user_session_path
            - else
              = link_to "Login", new_user_session_path

    .container
      .content
        = yield
        %footer
          %p &copy; Company 2011
